.svn/

#EmmaPrepost
EMMAPrePost/.vs/
EMMAPrePost/Debug/
EMMAPrePost/EMMAPrePost/Debug/
EMMAPrePost/EMMAPrePost/hlp/
EMMAPrePost/EMMAPrePost/res/icons_VS2015 Image Library.zip
EMMAPrePost/EMMAPrePost/res/icons_fugue-icons-3.5.6.zip
EMMAPrePost/EMMAPrePost/res/VisualStudioImageLibrary2015_Icons.pdf
EMMAPrePost/EMMAPrePost/Release/
EMMAPrePost/EMMAPrePost/x64/
EMMAPrePost/EMMAPrePost.VC.VC.opendb
EMMAPrePost/EMMAPrePost.VC.db
EMMAPrePost/ipch/
EMMAPrePost/Release/
EMMAPrePost/x64/

#EmmaServer
EMMASrv/EMMASrv/Debug/
EMMASrv/EMMASrv/Release/
EMMASrv/EMMASrv/Calculations/
EMMASrv/Release/
EMMASrv/ipch/

#Service info
Logs/
docs/
Dump/
*.smproj
*.db
*.sdf


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
